.mg-0{
    margin: 0;
}

.mg-1{
    margin: 1rem;
}
.mg-2{
    margin: 2rem;
}

.mgt-1{
    margin-top: 1rem;
}
.mgl-1{
    margin-left: 1rem;
}

.mgr-2{
    margin-right: 2rem;
}

//padding
.pd-0{
    padding: 0 !important;
}
.pd-1{
    padding: 1rem;
}

.pdl-1{
    padding-left: 1rem !important;
}