.t-center{
    text-align: center;
}

.t-left{
    text-align: left;
}

.t-right{
    text-align: right;
}

.f-bold-5{
    font-weight: 500;
}

.f-bold-7{
    font-weight: 700;
}

.f-bold-9{
    font-weight: 900;
}

.f-italic{
    font-style: italic;
}


//font-size use em 

.fs-2x{
    font-size: 1rem;
}

.fs-3x{
    font-size: 2rem;
}

.fs-4x{
    font-size: 3rem;
}

.fs-5x{
    font-size: 5rem;
}

//base font
.fs-small{
    font-size: 0.7rem;
}

.fs-normal {
    font-size: 1rem;
}

.fs-large{
    font-size: 2.5rem;
}
