*::selection {
    background: #009432;
    color:white;
    }
     
    *::-moz-selection {
    background: #009432;
    color:white;
    }
     
    *::-webkit-selection {
    background: #009432;
    color:white;
    }