.is-on{
    font-size: 12px;
    background: #27ae60;
    color: transparent; 
    border-radius : 50%; 
}

.is-off{
    font-size: 12px;
    background : #7f8c8d;
    color: transparent; 
    border-radius : 50%;
}

.is-busy{
    font-size: 12px;
    background : #c0392b;
    color: transparent; 
    border-radius : 50%;
}

